body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;    
    }

header{
    width: 100%;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 10px;
}

.logo {
    font-weight: bold;
    color: rgb(252, 238, 238);
    font-size: 24px
} 
.content{
    width: 100%;
}

nav {
 display: flex;
 gap: 15px;
 font-size: 14px;

}

nav a {
  text-decoration: none;
  color: lightgray
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 10px;
    padding-bottom: 30px;
    flex: 1;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.hero_text {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 400px;
}

.hero_main_text {
    font-size: 36px;
    font-weight: 900;
    color: #f9faf8   
    }

.hero_secondary_text {
    font-size: 14px;
    color: #e5e7eb; 
    padding-bottom: 10px;  
    }

button {
    font-size: 14px;
    background-color: #3882f6;
    color: white;
    border-style: none;
    border-radius: 2cap;
    justify-content: left;
    width: 120px;
    padding: 8px;
    
}

.hero_img {
    background-color: gray;
    color: white;
    font-size: 14px;
    height: 200px;
    flex-basis: 400px;
    }

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.info_header {
    font-size: 28px;
    color: #1f2937;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.info_cards {
    display: flex;
    justify-content: space-between;
    }

.info_image {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: dodgerblue;
    border-radius: 1em;
    border-width: 3px;
    align-items: center;
    margin-bottom: 6px;
}

.info_text {
    font-size: 10px;
    text-align: center;
}